.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

form {
  display: flex;
  flex-flow: column nowrap;
  width: 50%;
}
input {
  margin: 1%;
  padding: 2%;
}
button {
  width: 98%;
  margin: 0 auto;
  padding: 2%;
  margin-top: 1%;
}

nav {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: space-evenly;
}

.CardBox {
  width: 80%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: 0 auto;
}
.card {
  display: flex;
  flex-flow: column nowrap;
  width: 30%;
  height: 175px;
  border: 1px solid white;
  color: white;
  margin: 2%;
}
